@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Sriracha&display=swap');

/* font-family: 'Raleway', sans-serif;
font-family: 'Sriracha', cursive; */
/* 

azul do botão continuar e dos icones : #1351B4
verde do login com banco: #008C32


 'outras opções de identificação fonte: raleway
 botao continuar: arial
 restante do site:rawline


 a imagem aparece a partir de 800px de width
*/

:root {
    --azul: #1351B4;
    --verde: #008C32;
    --color-yellow: #f2e317;
    --FonteBank:'Raleway', sans-serif;
    /* --fonteGeral:rawline  */
}

* {
    font-family: var(--FonteBank);
    /* padding: 0px;
    margin: 0px; */
    line-height: 1.5em;
}

 body {
    margin: 0px;
}

span {
    background-color: white;
    columns: var(--azul);
}

header {
    display: block;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
    height: 60px;
    margin: 0px;
    width: 100%;
    margin-bottom: 20px;

}

header > img {
    height: 60%;
    margin: 5px;
}

/* header > span {
    mover os icones pra direita    
    
} */

h2 {
    font-size: 1em;
}

aside {
    display: none;
}
aside > img {
    margin: 5px;   
    width: 600px;
    height: 430px;
}


 article {
    display: none;
} 
main {
    font-size: 1em;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
    margin: auto;
    height: 650px;
    max-width: 340px ;
    
}

button {
    background-color: white;
    border: none;
    margin: 10px;
}

input#icpf {
    margin: 10px;
    width: 90%;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

input#icpf::-webkit-outer-spin-button,
input#icpf::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} 



input#icpf:focus-within {
    background-color: rgb(230, 230, 145);
}

hr {
    margin: 5px;
    width: 100%;
}

input.btn {
    display: block;
    background-color: var(--azul);
    color: white;
    border-radius: 45px;
    width: 90%;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 3px black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

span.icone {
    background-color:white;
    color: var(--azul);
    font-size: 1.5em;
    padding: 3px;
    margin-right: 5px;
}

a {
    font-size: 0.8em;
    text-decoration: none;
}

a#login-banco {
background-color: white;
color: var(--verde);
}
a#login-banco > span {
    background-color: var(--verde);
    color: white;
    font-size: 0.8em;
    padding: 3px;
}
a#login-banco > span#icone-smartphone {
    background-color: white;
    color: var(--verde);
    text-decoration: none;
}



p#rodape > a {
    display: block;
    background-color: white;
    color: var(--azul);
    text-align: justify;
}