@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Sriracha&display=swap');

/* font-family: 'Raleway', sans-serif;
font-family: 'Sriracha', cursive; */
/* 

azul do botão continuar e dos icones : #1351B4
verde do login com banco: #008C32


 'outras opções de identificação fonte: raleway
 botao continuar: arial
 restante do site:rawline


 a imagem aparece a partir de 800px de width
*/

:root {
    --azul: #1351B4;
    --verde: #008C32;
    --FonteBank:'Raleway', sans-serif;
    /* --fonteGeral:rawline  */
}

* {
    font-family: var(--FonteBank);
}

span {
    background-color: white;
    columns: var(--azul);
}

aside {
    display: none;
}

main {

}

button {
    background-color: white;
    border: none;
}

input.btn {
    display: block;
    background-color: var(--azul);
    color: white;
    border-radius: 45px;
    width: 300px;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 3px black;
    font-family: Arial, Helvetica, sans-serif;
}

span.icone {
    background-color:white;
    color: var(--azul);
}

a {
    text-decoration: none;
}

a#login-banco {
background-color: white;
color: var(--verde);
}
a#login-banco > span {
    background-color: var(--verde);
    color: white;
    font-size: 0.8em;
    padding: 3px;
}
a#login-banco > span#icone-smartphone {
    background-color: white;
    color: var(--verde);
}



p#rodape > a {
    display: block;
    background-color: white;
    color: var(--azul);
}